{
  "waypoints": [
    {
      "name": "Loot Chest T4",
      "x": 1535.0,
      "y": 56.0,
      "z": -5154.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -1587.0,
      "y": 25.0,
      "z": -3064.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -11.0,
      "y": 36.0,
      "z": -1451.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 1442.0,
      "y": 74.0,
      "z": -1663.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1461.0,
      "y": 7.0,
      "z": -1552.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1009.0,
      "y": 51.0,
      "z": -1828.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 983.0,
      "y": 166.0,
      "z": -4347.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -183.0,
      "y": 30.0,
      "z": -2014.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 273.0,
      "y": 39.0,
      "z": -1780.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 51.0,
      "y": 13.0,
      "z": -1890.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 390.0,
      "y": 25.0,
      "z": -1955.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 420.0,
      "y": 21.0,
      "z": -2080.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 622.0,
      "y": 12.0,
      "z": -2061.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -1407.0,
      "y": 95.0,
      "z": -2998.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -1812.0,
      "y": 31.0,
      "z": -2678.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -1380.0,
      "y": 50.0,
      "z": -2468.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 269.0,
      "y": 7.0,
      "z": -2481.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1102.0,
      "y": 4.0,
      "z": -2872.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -1997.0,
      "y": 31.0,
      "z": -5032.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -2073.0,
      "y": 79.0,
      "z": -5243.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -1687.0,
      "y": 27.0,
      "z": -5458.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -1033.0,
      "y": 19.0,
      "z": -5292.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 255.0,
      "y": 38.0,
      "z": -642.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 110.0,
      "y": 40.0,
      "z": -1628.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1099.0,
      "y": 77.0,
      "z": -4692.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 550.0,
      "y": 26.0,
      "z": -4559.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 769.0,
      "y": 16.0,
      "z": -4776.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 1015.0,
      "y": 64.0,
      "z": -5060.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 1092.0,
      "y": 80.0,
      "z": -4702.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 782.0,
      "y": 55.0,
      "z": -460.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 921.0,
      "y": 33.0,
      "z": -413.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1095.0,
      "y": 60.0,
      "z": -697.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 747.0,
      "y": 63.0,
      "z": -746.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -1362.0,
      "y": 20.0,
      "z": -5066.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -1416.0,
      "y": 14.0,
      "z": -5121.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -969.0,
      "y": 9.0,
      "z": -5469.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -1117.0,
      "y": 80.0,
      "z": -5656.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -782.0,
      "y": 97.0,
      "z": -5029.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -661.0,
      "y": 7.0,
      "z": -4864.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -534.0,
      "y": 4.0,
      "z": -4663.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": -390.0,
      "y": 10.0,
      "z": -5291.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 744.0,
      "y": 42.0,
      "z": -1782.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 834.0,
      "y": 37.0,
      "z": -2117.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1022.0,
      "y": 16.0,
      "z": -2052.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 682.0,
      "y": 30.0,
      "z": -1624.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 495.0,
      "y": 58.0,
      "z": -1859.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 986.0,
      "y": 32.0,
      "z": -2313.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 1159.0,
      "y": 5.0,
      "z": -1533.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": 1508.0,
      "y": 5.0,
      "z": -1494.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -509.0,
      "y": 65.0,
      "z": -1549.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -640.0,
      "y": 67.0,
      "z": -1574.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -666.0,
      "y": 67.0,
      "z": -1595.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -605.0,
      "y": 54.0,
      "z": -1544.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 356.0,
      "y": 67.0,
      "z": -1590.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 263.0,
      "y": 68.0,
      "z": -1583.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T2",
      "x": 183.0,
      "y": 69.0,
      "z": -1570.0,
      "zoomNeeded": 300,
      "color": "WHITE",
      "type": "LOOTCHEST_T2",
      "group": "LOOTCHEST_T2",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T4",
      "x": 134.0,
      "y": 114.0,
      "z": -1698.0,
      "zoomNeeded": 500,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 28.0,
      "y": 64.0,
      "z": -1709.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -32.0,
      "y": 59.0,
      "z": -1766.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -206.0,
      "y": 72.0,
      "z": -1632.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T3",
      "x": -104.0,
      "y": 45.0,
      "z": -1502.0,
      "zoomNeeded": 400,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -144.0,
      "y": 68.0,
      "z": -1541.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T2",
      "x": -129.0,
      "y": 68.0,
      "z": -1540.0,
      "zoomNeeded": 300,
      "color": "WHITE",
      "type": "LOOTCHEST_T2",
      "group": "LOOTCHEST_T2",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 584.0,
      "y": 70.0,
      "z": -1643.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 281.0,
      "y": 67.0,
      "z": -1608.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -322.0,
      "y": 45.0,
      "z": -2068.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -563.0,
      "y": 35.0,
      "z": -2021.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -683.0,
      "y": 39.0,
      "z": -1997.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -732.0,
      "y": 34.0,
      "z": -2013.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -849.0,
      "y": 43.0,
      "z": -1965.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -866.0,
      "y": 53.0,
      "z": -1900.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 698.0,
      "y": 71.0,
      "z": -1664.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 619.0,
      "y": 61.0,
      "z": -2095.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 424.0,
      "y": 59.0,
      "z": -1962.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 365.0,
      "y": 67.0,
      "z": -1708.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 571.0,
      "y": 67.0,
      "z": -1592.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 662.0,
      "y": 70.0,
      "z": -1627.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 904.0,
      "y": 80.0,
      "z": -1745.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T2",
      "x": 903.0,
      "y": 79.0,
      "z": -1821.0,
      "zoomNeeded": 300,
      "color": "WHITE",
      "type": "LOOTCHEST_T2",
      "group": "LOOTCHEST_T2",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 851.0,
      "y": 80.0,
      "z": -1911.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 875.0,
      "y": 80.0,
      "z": -2041.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 1175.0,
      "y": 77.0,
      "z": -2047.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 462.0,
      "y": 68.0,
      "z": -1717.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 785.0,
      "y": 56.0,
      "z": -1389.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 755.0,
      "y": 62.0,
      "z": -1505.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 736.0,
      "y": 65.0,
      "z": -1547.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 100.0,
      "y": 66.0,
      "z": -1590.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 222.0,
      "y": 70.0,
      "z": -1722.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 130.0,
      "y": 67.0,
      "z": -1531.0,
      "zoomNeeded": 200,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T2",
      "x": 461.0,
      "y": 137.0,
      "z": -1570.0,
      "zoomNeeded": 300,
      "color": "WHITE",
      "type": "LOOTCHEST_T2",
      "group": "LOOTCHEST_T2",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T2",
      "x": -159.0,
      "y": 69.0,
      "z": -1777.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T2",
      "group": "LOOTCHEST_T2",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T2",
      "x": -208.0,
      "y": 76.0,
      "z": -1740.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T2",
      "group": "LOOTCHEST_T2",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -316.0,
      "y": 73.0,
      "z": -1607.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": -403.0,
      "y": 67.0,
      "z": -1592.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    },
    {
      "name": "Loot Chest T1",
      "x": 974.0,
      "y": 73.0,
      "z": -722.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T1",
      "group": "LOOTCHEST_T1",
      "showBeaconBeam": false
    }
  ],
  "pathWaypoints": [],
  "iconFade": true,
  "iconFadeScale": 30,
  "chestTiers": "TIER_1",
  "compassMarker": true,
  "waypointSpacing": "MEDIUM"
}